<%= form_with(model: bus_service, local: true, :html=>{:class=>"new_service"}) do |form| %>
  <% if bus_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bus_service.errors.count, "error") %> prohibited this bus_service from being saved:</h2>

      <ul>
      <% bus_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "new_booking" %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.select :origin , @cities ,{}, :class => "new_booking" %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.select :destination , @cities ,{}, :class => "new_booking" %>
  </div>

  <div class="field">
    <%= form.label :journey_date %>

  <span id="datepicker1" class="input-group date" data-date-format="dd/mm/yyyy">
    <%= form.text_field :journey_date , :class => "new_booking form-control" %>
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i>
     </span>
  </div>
 

  <div class="field">
    <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
    
  </div>

  <!-- <div class="field"> -->
    <%#= form.label :status %>
    <%#= form.number_field :status %>
  <!-- </div> -->

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

<script type="text/javascript">
$(function () {
  $("#datepicker1").datepicker({ 
        autoclose: true, 
        todayHighlight: true
  }).datepicker('update', new Date());
});

 </script>