<% if @bus_service.status.to_i == 1 %>
  <a href='javascript:void(0)' onclick='changeServiceStatus("<%=@bus_service.status%>","<%=@bus_service.id%>","<%=@user.id%>")'>Active</a>
<% else %>
  <a href='javascript:void(0)' onclick='changeServiceStatus("<%=@bus_service.status%>","<%=@bus_service.id%>","<%=@user.id%>")'>Cancelled</a>
<% end %>

<script type="text/javascript">
	alert("Status Changed Successfully")
</script>