<div id="mail_success" class='message'>
				  <div class='check'>&#10004;</div>
				  <p>Success </p>
				  <p>Thank you for your successful registration, We will check and getback to you!</p>
				  <button id='agent-success'>OK</button>
				</div>