<h1>Editing Bus Service</h1>

<%= render 'form', bus_service: @bus_service %>

<%= link_to 'Show', @bus_service ,:class => "btn btn-primary" %> 
<%= link_to 'Back', bus_services_path ,:class => "btn"%>
