<p id="notice"><%= notice %></p>

<h1>Bus Services</h1>

<table class="bus_service">
  <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Journey Date</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @bus_services.each do |bus_service| %>
      <tr>
        <td><%= bus_service.name %></td>
        <td><%= @cities[bus_service.origin] %></td>
        <td><%= @cities[bus_service.destination] %></td>
        <td><%= bus_service.journey_date %></td>
        <td><div id="service_status_<%=bus_service.id%>"><% if bus_service.status.to_i == 1 %>
              <a href='javascript:void(0)' onclick='changeServiceStatus("<%=bus_service.status%>","<%=bus_service.id%>","<%=current_user.id%>")'>Active</a>
              <% else %>
               <a href='javascript:void(0)' onclick='changeServiceStatus("<%=bus_service.status%>","<%=bus_service.id%>","<%=current_user.id%>")'>Cancelled</a>
              <% end %></div></td>

        <td><%= link_to 'Edit', edit_bus_service_path(bus_service) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 
<%= link_to 'New Bus Service', new_bus_service_path ,:class => "btn btn-primary" %>

<script type="text/javascript">
  function changeServiceStatus(status, serviceId, userId){
    $("#service_status_"+serviceId).load("/bus_services/service_status?&status="+status+"&service_id="+serviceId+"&user_id="+userId)
  }
</script>