<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bus_service.name %>
</p>



<%= link_to 'Edit', edit_bus_service_path(@bus_service) ,:class => "btn btn-primary" %> 
<%= link_to 'Back', bus_services_path ,:class => "btn" %>
