<%= form_with(model: room_number, local: true) do |form| %>
  <% if room_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_number.errors.count, "error") %> prohibited this room_number from being saved:</h2>

      <ul>
      <% room_number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :room_type_id %>
    <%= form.select :room_type_id , @room_types_array ,{}, :class => "" %>
  </div>

  <div class="field">
    <%= form.label :room_number %>
    <%= form.text_field :room_number %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  </div>

  <!-- <div class="field"> -->
    <%#= form.label :status %>
    <%#= form.number_field :status %>
  <!-- </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
