<p id="notice"><%= notice %></p>

<h1>Room Numbers</h1>

<table>
  <thead>
    <tr>
      <th>Room number</th>
      <th>Room type</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @room_numbers.each do |room_number| %>
      <tr>
        <td><%= room_number.room_number %></td>
        <td><%= @room_types_hash[room_number.room_type_id] %></td>
        <td><%= room_number.status %></td>
        <td><%= link_to 'Show', room_number %></td>
        <td><%= link_to 'Edit', edit_room_number_path(room_number) %></td>
        <td><%= link_to 'Destroy', room_number, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room Number', new_room_number_path %>
