<p id="notice"><%= notice %></p>

<p>
  <strong>Room number:</strong>
  <%= @room_number.room_number %>
</p>

<p>
  <strong>Room type:</strong>
  <%= @room_number.room_type_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @room_number.status %>
</p>

<%= link_to 'Edit', edit_room_number_path(@room_number) %> |
<%= link_to 'Back', room_numbers_path %>
