<%= form_with(model: seat_number, local: true,:class=>"seat_number") do |form| %>
  <% if seat_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(seat_number.errors.count, "error") %> prohibited this seat_number from being saved:</h2>

      <ul>
      <% seat_number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bus_service_id %>
    <%= form.select :bus_service_id , @bus_services_array ,{}, :class => "" %>
  </div>
  
  <div class="field">
    <%= form.label :seat_number %>
    <%= form.text_field :seat_number %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  </div>

  <!-- <div class="field"> -->
    <%#= form.label :status %>
    <%#= form.number_field :status %>
  <!-- </div> -->

  <div class="actions">
    <%= form.submit :class => "btn btn-primary" %>
  </div>
<% end %>
