<h1>Editing Seat Number</h1>

<%= render 'form', seat_number: @seat_number %>

<%= link_to 'Show', @seat_number ,:class => "btn btn-primary" %> 
<%= link_to 'Back', seat_numbers_path ,:class => "btn" %>
