<p id="notice"><%= notice %></p>

<h1>Seat Numbers</h1>

<table class="seat_number">
  <thead>
    <tr>
      <th>Seat number</th>
      <th>Bus service</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @seat_numbers.each do |seat_number| %>
      <tr>
        <td><%= seat_number.seat_number %></td>
        <td><%= @bus_services_hash[seat_number.bus_service_id] %></td>
        <td><%= link_to 'Edit', edit_seat_number_path(seat_number) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seat Number', new_seat_number_path ,:class => "btn btn-primary" %>
