<p id="notice"><%= notice %></p>

<p>
  <strong>Seat number:</strong>
  <%= @seat_number.seat_number %>
</p>

<p>
  <strong>Bus service:</strong>
  <%= @seat_number.bus_service_id %>
</p>


<%= link_to 'Edit', edit_seat_number_path(@seat_number) ,:class => "btn btn-primary"%> 
<%= link_to 'Back', seat_numbers_path ,:class => "btn"%>
