Dear Passenager,<br/>
Thank you for choosing us for your journey<br/>
Please Click Below Button To Check The Availabilty<br/><br/><br/>
<a href="<%= @url %>" class="btn btn-primary" style="background: #337ab7;padding: 6px 12px;color:#fff;display: inline-block;text-decoration: none">Book Now</a><br/><br/><br/>
Wish You A Pleasent Journey<br/>
Incase of any query please call on 080-000011<br/>

At Your Service<br/>
SRS Travels<br/>