<style type="text/css">
	
/*agent registration*/
.common-block .message {
  position: fixed;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 300px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  font-weight: 300;
  color: #000;
  z-index: 1;
  transition: top 0.3s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.2s ease-in-out;
      border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.26);
    background:#fff;
}
.common-block .message .check {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    width: 60px;
    height: 60px;
    background:#2D53A8;
    color: white;
    font-size: 3.8rem;
  padding-top: 0px;
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.2s 0.25s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.1s 0.25s ease-in-out;
}
.slider_parent .message{
  position:fixed;
}
.common-block .message .scaledown {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.common-block .message p {
  font-size: 1.1rem;
  margin: 25px 0px;
  padding: 0;
}
.common-block .message p:nth-child(2) {
  font-size: 2.3rem;
  margin: 40px 0px 0px 0px;
}

.common-block .message #agent-success{

    position: relative;
    color: white;
    border: 0;
    background:#2D53A8;
    width: 50%;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    transition: background 0.2s ease;
    outline: none;
}

.common-block .message #agent-success:hover{

  background: #2D53A8;
}

.common-block .comein{
  top: 35%;
  opacity: 1;
  background:#fff;
}
#download_app .comein,#feedback_block .comein,.slider_parent .comein{
 top: 15%;
  opacity: 1;
  background:#fff;
}
.common-block{
  position:relative;
}

.note .fa {
    font-size: 30px;
    color:#2D53A8;
    margin-right: 10px;
    margin-top: 10px;
}
.note span{
    display:table-cell;
    vertical-align:middle;
}
</style>

<div class="common-block">
<div id="mail_success" class='message'>
          <div class='check'>&#10004;</div>
          <p>Temp Booking </p>
          <p>Temporary Reservation Has Been Successfully Done!. Please Click Below Button To Pay And Confirm Your Seat</p>
          <button id='agent-success'>PAY & CONFIRM</button>
        </div>
<script type="text/javascript">
      $('#agent-success').click(function(){
      $('#mail_success').fadeToggle(100);
      });
    </script>

    </div>