<%= stylesheet_link_tag  'bootstrap' %>
<%= stylesheet_link_tag  'buses' %>
<%= stylesheet_link_tag  'home' %>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<div class="wrapper">
  <div class="container">
<%= form_tag  url_for(:controller => '/bookings', :action => 'temp_reserve'),  :remote => true, :multipart => true  do  %>	  
<%= hidden_field_tag "id", params[:id] %>
<%= hidden_field_tag "date", params[:date] %>
<%= hidden_field_tag "calendar_id", params[:calendar_id] %>
<%= hidden_field_tag "event_id", params[:event_id] %>

<% @origin = [["Salem",1],["Attur",2],["Hosur",3]] %>
<% @destination = [["Attur",1],["Salem",2],["Hosur",3]] %>
<% @boarding = [["Hosur",1],["Attur",2],["Salem",3]] %>
<% @droping = [["Attur",1],["Salem",2],["Hosur",3]] %>

<div class="booking-list">
	<div class="field col-md-6">
     <label for="select_date">Origin</label>
     <%= select_tag "origin", options_for_select(@origin.collect{ |u| [u[0],u[1]] }), :id => 'origin', :class=>"form-control" %>
  </div>
  <div class="field col-md-6">
    <label for="select_date">destination</label>
    <%= select_tag "destination", options_for_select(@destination.collect{ |u| [u[0],u[1]] }), :id => 'destination', :class=>"form-control" %>
    	
  </div>
  <div class="field col-md-6">
     <label for="select_date">Boarding Point</label>
     <%= select_tag "boarding", options_for_select(@boarding.collect{ |u| [u[0],u[1]] }), :id => 'boarding', :class=>"form-control" %>
  </div>
  <div class="field col-md-6">
     <label for="select_date">Droping Point</label>
     <%= select_tag "droping", options_for_select(@droping.collect{ |u| [u[0],u[1]] }), :id => 'droping', :class=>"form-control" %>
  </div>
  <div class="field col-md-7">
     <label for="select_date">Seats</label>
     <div class="plane">
  <div class="cockpit">
    <h1>Please select a seat</h1>
  </div>
  <div class="exit exit--front fuselage">
    
  </div>
  <ol class="cabin fuselage">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <% if @tickets.include?"1A" 
            disabled = "disabled"
          else
             disabled = ""
          end%>
          
          <input type="checkbox" name='seats[]' id="1A" value="1A" <%=disabled %>/>
          <label for="1A">1A</label>
        </li>
        <li class="seat">
          <% if @tickets.include?"1B" 
            disabled = "disabled"
            else
            disabled = ""
          end%>
          <input type="checkbox" name='seats[]' id="1B" value="1B" <%=disabled %>/>
          <label for="1B">1B</label>
        </li>
       <li class="seat">
        <% if @tickets.include?"1C" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="1C" value="1C" <%=disabled %>/>
          <label for="1C">1C</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"1C" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="1D" value="1D" <%=disabled %>/>
          <label for="1D">1D</label>
        </li>
       
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
        <% if @tickets.include?"2A" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="2A" value="2A"  <%=disabled %>/>
          <label for="2A">2A</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"2B" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="2B" value="2B"  <%=disabled %>/>
          <label for="2B">2B</label>
        </li>
       <li class="seat">
        <% if @tickets.include?"2C" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seCats[]' id="2C" value="2C" <%=disabled %>/>
          <label for="2C">2C</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"2D" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="2D" value="2D" <%=disabled %>/>
          <label for="2D">2D</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
       <li class="seat">
        <% if @tickets.include?"3A" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="3A" value="3A" <%=disabled %>/>
          <label for="3A">3A</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"3B" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="3B" value="3B" <%=disabled %>/>
          <label for="3B">3B</label>
        </li>
       <li class="seat">
        <% if @tickets.include?"3C" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="3C" value="3C" <%=disabled %> />
          <label for="3C">3C</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"3D" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
        <% disabled = @tickets.include? ["3D"] %>
          <input type="checkbox" name='seats[]' id="3D" value="3D" <%=disabled %>/>
          <label for="3D">3D</label>
        </li>

      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
        <% if @tickets.include?"4A" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="4A" value="4A" <%=disabled %>/>
          <label for="4A">4A</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"4B" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="4B" value="4B" <%=disabled %>/>
          <label for="4B">4B</label>
        </li>
       <li class="seat">
        <% if @tickets.include?"4C" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="4C" value="4C" <%=disabled %>/>
          <label for="4C">4C</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"4D" 
          disabled = "disabled"
          else
          disabled = ""
        end
        %>
          <input type="checkbox" name='seats[]' id="4D" value="4D" <%=disabled %>/>
          <label for="4D">4D</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
        <% if @tickets.include?"5A" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="5A" value="5A" <%=disabled %>/>
          <label for="5A">5A</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"5B" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="5B" value="5B" <%=disabled %>/>
          <label for="5B">5B</label>
        </li>
       <li class="seat">
          <% if @tickets.include?"5C" 
            disabled = "disabled"
            else
            disabled = ""
          end%>
          <input type="checkbox" name='seats[]' id="5C" value="5C" <%=disabled %>/>
          <label for="5C">5C</label>
        </li>
        <li class="seat">
          <% if @tickets.include?"5D" 
            disabled = "disabled"
            else
            disabled = ""
          end%>
          <input type="checkbox" name='seats[]' id="5D" value="5D" <%=disabled %>/>
          <label for="5D">5D</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
       <li class="seat">
        <% if @tickets.include?"6A" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="6A" value="6A" <%=disabled %>/>
          <label for="6A">6A</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"6B" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="6B" value="6B" <%=disabled %>/>
          <label for="6B">6B</label>
        </li>
       <li class="seat">
        <% if @tickets.include?"6C" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="6C" value="6C" <%=disabled %>/>
          <label for="6C">6C</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"6D" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="6D" value="6D" <%=disabled %>/>
          <label for="6D">6D</label>
        </li>
      </ol>
    </li>
    <li class="row row--7">
      <ol class="seats" type="A">
       <li class="seat">
        <% if @tickets.include?"7A" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="7A" value="7A" <%=disabled %>/>
          <label for="7A">7A</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"7B" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="7B" value="7B" <%=disabled %>/>
          <label for="7B">7B</label>
        </li>
       <li class="seat">
        <% if @tickets.include?"7C" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="7C" value="7C" <%=disabled %>/>
          <label for="7C">7C</label>
        </li>
        <li class="seat">
        <% if @tickets.include?"7C" 
          disabled = "disabled"
          else
          disabled = ""
        end%>
          <input type="checkbox" name='seats[]' id="7D" value="7D" <%=disabled %>/>
          <label for="7D">7D</label>
        </li>
      </ol>
    </li>
   
  </ol>
  <div class="exit exit--back fuselage">
    
  </div>
	</div>
		</select>
  </div>
   <div class="field seed_count col-md-12">

  </div>

<div class='field seed_parent col-md-12' style="display: none;" ><label for='select_date'></label><div class='col-md-3'><%= text_field_tag "name[]","", :class => "form-control", :placeholder => "Name" %></div><div class='col-md-3'><%= text_field_tag "email[]","", :class => "form-control", :placeholder => "Email" %></div><div class='col-md-1'><%= text_field_tag "age[]","", :class => "form-control", :placeholder => "Age" %></div><div class='col-md-3'><%= text_field_tag "phone[]","", :class => "form-control", :placeholder => "Phone" %></div>
</div>


  <div class="field col-md-12 text-center">
   <!-- <button type="button" class="btn btn-primary submit" onclick="get_booking_quote()" >  Submit</button> -->
		<%= submit_tag("Search" , :class=>'btn btn-primary' ) %>
  </div>
</div>

<% end %>

<script type="text/javascript">
	$(function () {
	var data_value='<div class="field seed_parent col-md-12"><label for="select_date"></label><div class="col-md-3"><input name="name[]" class="form-control" type="text" placeholder="Name"></div><div class="col-md-3"><input name="email[]" class="form-control" type="text" placeholder="Email id"></div><div class="col-md-1"><input name="age[]" class="form-control" type="text" placeholder="age"></div><div class="col-md-3"><input name="phone[]" class="form-control" type="text" placeholder="Mobile No"></div></div>'
  
  /*$(document).on('change', '.seed_val', function() {
  	$('.seed_parent').remove();
    seed_value = $(this).val();
    //alert(seed_value)
			for (var i = 0; i < seed_value; i++) {
				   $('.seed_count').append(data_value);
			}	 	
  });*/

$('.fuselage input').on('click',function() {
  if($(this).prop('checked') == true){

    	$('.seed_count').append(data_value);
	}else{

    	$('.seed_count .seed_parent:last-child').remove();
	}

});
 });
	$(document).on('click', '#id', function(){
		$('#myForm').submit();
	});
</script>

</div>
</div>