<% if @gcal_code.present? %>
	<%= render :partial => "google_mapping" %>
<% else %>
	<div id="google_map">
		<%= form_tag("/home/google_auth2/#{current_user.id}", :id => current_user.id, :remote => true) do %>
		  <%= label_tag(:q, "Google Code:") %>
		  <%= text_field_tag(:google_auth) %>
		  <%= submit_tag("Search") %>
		<% end %>
	</div>
	<script type="text/javascript">
		window.open('<%= @url.html_safe %>', '_blank');
	</script>
<% end %>
