<% if @gcal_code.present? %>
	<%= render :partial => "google_mapping" %>
<% else %>
	<div id="google_map">
		<%= form_tag("/home/google_auth2/#{current_user.id}", :id => current_user.id, :remote => true) do %>
		  <%= label_tag(:q, "Google Code:") %>
		  <%= text_field_tag(:google_auth) %>
		  <%= submit_tag("Search") %>
		<% end %>
	</div>
	<script type="text/javascript">
		window.open('<%= @url.html_safe %>', '_blank');
	</script>
<% end %>
<style type="text/css">
	div#google_map {
    width: 540px;
    margin: 125px auto;
}
div#google_map label{
	font-weight: bold;
}
div#google_map input[type="text"]{
	width:300px;
	height:30px;
	padding: 5px;
	margin:0px 5px;
}
div#google_map input[type="submit"]{
	background: #337ab7;
	border-color:#337ab7;
	color:#fff;
	height: 30px;
	padding: 5px;
	width:100px;
	cursor: pointer;
}


</style>