<%= link_to "Google Cal Mapping",  {:action => "google_auth", :controller => "/home"}, :html =>{:is_as_link => true}, :title => "Google Cal Mapping" %>
<%= link_to "Hotels", "#{hotels_path}" %>
<%= link_to "Bus", "#{buses_path}" %>

