<%= form_with(model: room_type, local: true) do |form| %>
  <% if room_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room_type.errors.count, "error") %> prohibited this room_type from being saved:</h2>

      <ul>
      <% room_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: "#{current_user.id}" %>
  </div>

  <!-- <div class="field"> -->
    <%#= form.label :status %>
    <%#= form.number_field :status %>
  <!-- </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
