<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room_type.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @room_type.status %>
</p>

<%= link_to 'Edit', edit_room_type_path(@room_type) %> |
<%= link_to 'Back', room_types_path %>
