// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form#new_user  {
    background-color: #fefefe;
    margin: 3% auto 15% auto;
    border: 1px solid #ccc;
    width: 40%;
    padding:15px;
    box-shadow: 0 1px 10px #c3c3c3;
}
form#new_user label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom:10px;
    width:auto;
    margin-top:0px;
}

form#new_user input {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fff;
    color:#000;
    font-weight:bold;
}
form#new_user .actions input{
     background: #4CAF50;
     color:#fff;
}
form#new_user  input#user_remember_me {
    float: left;
    width: auto;
    margin-right:5px;
    margin-top:0px;
}
.field label[for="user_remember_me"]{
	
}
.login-head h2,body h2{
	text-align:center;
}
#new_user  a:hover {
    color: #000;
    background-color: #fff;
}

/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    background: #fafafa;
}

#sidebar p {
    font-size: 1.1em !important ;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}
.common-block {
    padding: 20px;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: linear-gradient(to right, #005c97, #005c97);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px 10px;
    background: linear-gradient(to right, #005c97, #005c97);
    float:left
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color:#fff;
    float:left;
    width:100%;
}

#sidebar ul li a:hover {
    color: #232e3c;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #5D49F3;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #5D49F3;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

div#content nav {
    background: linear-gradient(to right, rgb(0, 92, 151), rgb(54, 55, 149));
    color:#fff;
}

div#content .navbar-default .navbar-nav > li > a{
	color:#fff;
}
div#content  .nav > li > a{
	padding-top:0;
	padding-bottom:0;
}
#sidebar .navbar-brand img{
	    max-width: 100%;
}
#sidebar .navbar-brand:hover{
	background:#2D53A8;
}
#sidebar .navbar-brand{
	height:70px;
	padding:0;
}
.common-block .btn.btn-primary{
    color:#fff;
    background:#337ab7;
}
.common-block .btn{
    background:#DCDCDC;
     color:#000;
}
input#bus_service_name,#seat_number_seat_number {
    width: 300px;
    height: 30px;
    padding: 0px 5px;
}
select#seat_number_bus_service_id {
    background: #fff;
    height: 30px;
    width: 300px;
}
.widget-title .buttons {
    margin-bottom: 10px;
}
div#create_new_calendar input#report_name{height:30px}
div#create_new_calendar .line_height25{
margin-top:5px;
text-align:left;
}
.bus_service td,.seat_number td{
    padding:7px;
    color:#000;
}
.bus_service td a,.seat_number td a{
    color:#2D53A8;
}
#content a:hover{
    color:#000;
    background:transparent;
}
.exit.exit--front.fuselage {
    border-top: 5px solid #d8d8d8;
}
.cockpit{
    display:none;
}
.search-date .field label {
    float: left;
    width:14.5%;
    margin-top:6px;
}
.field #select_date{
    float:left;
    width:30%;
    height:30px;
    padding:5px;
    margin-right:10px;
}
.search-date .submit {
    float: left;
}

span#datepicker {
    float: left;
    margin-right: 10px;
}
.search-date input.form-control {background: #fff;}
.common-block h1{font-size:24px;margin-top: 0;
    padding-left: 0;margin-bottom:10px;}
.booking-list{width:100%;float:left;margin:20px 0px}
.booking-list label{
    width:30%;
    float:left;
    color:#000;
}
.booking-list .field {
    margin-bottom: 15px;
}
#content a.btn-primary:hover{
    background:#337ab7;
    color:#fff;
}
.booking-list select{
    width:70%;
    float:left;
}
form.search-date {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
.booking-list .seed_parent label{
    width:12%;
}
select.new_booking,.input.new_booking {
    background: #fff;
    width: 300px !important;
    height: 30px;
}
input#bus_service_journey_date {
    width: 300px;
    line-height: 30px !important;
    height: 30px;
}
td.btn.btn-primary.btn-xs {
    margin: 10px;
    width: 85%;
}


/*agent registration*/
.common-block .message {
  position: fixed;
  top: 160px;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 300px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  font-weight: 300;
  color: #000;
  opacity: 0;
  z-index: 1;
  transition: top 0.3s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.2s ease-in-out;
      border: 1px solid #C9C9C9;
    box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.26);
    background:#fff;
}
.common-block .message .check {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(4);
    width: 60px;
    height: 60px;
    background:#2D53A8;
    color: white;
    font-size: 3.8rem;
  padding-top: 0px;
  border-radius: 50%;
  opacity: 0;
  transition: transform 0.2s 0.25s cubic-bezier(0.31, 0.25, 0.5, 1.5), opacity 0.1s 0.25s ease-in-out;
}
.slider_parent .message{
  position:fixed;
}
.common-block .message .scaledown {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.common-block .message p {
  font-size: 1.1rem;
  margin: 25px 0px;
  padding: 0;
}
.common-block .message p:nth-child(2) {
  font-size: 2.3rem;
  margin: 40px 0px 0px 0px;
}

.common-block .message #agent-success{

    position: relative;
    color: white;
    border: 0;
    background:#2D53A8;
    width: 100%;
    height: 40px;
    border-radius: 6px;
    font-size: 20px;
    transition: background 0.2s ease;
    outline: none;
}

.common-block .message #agent-success:hover{

  background: #2D53A8;
}

.common-block .comein{
  top: 35%;
  opacity: 1;
  background:#fff;
}
#download_app .comein,#feedback_block .comein,.slider_parent .comein{
 top: 15%;
  opacity: 1;
  background:#fff;
}
.common-block{
  position:relative;
}

.note .fa {
    font-size: 30px;
    color:#2D53A8;
    margin-right: 10px;
    margin-top: 10px;
}
.note span{
    display:table-cell;
    vertical-align:middle;
}

form.new_service .field,form.seat_number .field{
    float: left;
    width: 100%;
}
form.new_service label ,form.seat_number label{
    width: 16%;
    float: left;
}

form.new_service input[type="text"] ,form.seat_number .field input[type="text"]{
    float: left;
}   