// Place all the styles related to the hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Agent registration css */
.no-padding{
  padding: 0
}
body{
	font-size:14px !important;
  font-family: 'Roboto', sans-serif;
}
#agent_reg h2,#feedback_block h2 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
}
#agent_reg h2:after,#feedback_block h2:after{
    content: '';
    position: absolute;
    bottom: -6px;
    width: 35px;
    height: 2px;
    display: inline-block;
    background: #f39e0d;
    margin: 0 0 0 -16px;
    left: 50%;
}
#agent_reg p,#feedback_block p{
  text-align: center;
    font-size: 16px;
}
#feedback_block p{
  text-align: left;
  margin-bottom: 20px;
}
#agent_reg .agent_info,#feedback_block .feedback_info {
    padding: 10px 0px 30px;
    position: relative;
    width: 100%;
    margin: 0px auto;
}
#agent_reg .agent_info .agent_form {
    padding: 20px;
    border: 1px solid #ddd;
}
.feedback_form .form-group{
    float: left;
    width: 100%;
}
.agent_form label{
  width:30%;
  float: left;
  padding-top: 5px;
}
.agent_form input,.agent_form textarea{
  width:69%;
  float: right;
}
.agent_form textarea,.feedback_form textarea{
  border: 1px solid #ccc;
}
#agent_reg .agent_info .form-group .form-control,.feedback_form .form-control  {
    border-radius: 0;
}
#agent_reg .agent_info .print_btn,#feedback_block .feedback_info .print_btn {
    color: #fff;
    background-color: #f39e0d;
    border-color: #f39e0d;
    border-radius: 0;
}
.agent_info .agent-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 1.2em;
    margin-top: 0;
    color: #525252;
    position: relative;
}
.agent_info .agent-title:after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 35px;
    height: 2px;
    display: inline-block;
    background: #f39e0d;
    margin: 0 0 0 -16px;
    left: 18px;
}
.agent_process ul{
  margin: 0;
  padding:0;
}
.agent_process ul li{
  list-style: none;
  margin: 5px 12px 0px 0px;
  float: left;
  width: auto;
}
.agent_process ul li:last-child{
  margin-right: 0px;
}
.agent_process li i{
  font-size: 20px;
  color:#f39e0d;
  margin-right: 5px;
  float: left;
  display: table;
}
#agent_reg span {
    display: table-cell;
    vertical-align: middle;
    float: left;
}
.agent_process li:first-child i{
  font-size: 24px;
}
.agent_block p{
  margin-bottom: 20px;
}

.feedback_form label{
  width: 25%;
  float: left;
}
.feedback_form input,.feedback_form textarea,.feedback_form select{
  width:48%;
  float: left;
}
.feedback_form .text-left button{
  margin-left: 31%;
}
.feedback_form select {
    height: 46px;
    padding: 6px;
}
.agent_left{
  margin-bottom: 20px;
}
.agent_form .agent-label label{
  width:14%;
}
.agent_form .agent-label input, .agent_form .agent-label textarea{
  width: 85%
}
.feed_type_box{
  position: relative;
}
.feed_type_box:after{
  display: inline-block;
    box-sizing: border-box;
    color: #fff;
    background-color: #f39e0d;
    pointer-events: none;
    top: -2px;
    position: absolute;
    padding: 6px;
    font-size: 24px;
    transform: rotate(90deg);
    border: 0;
    height: 50px;
    width: 44px;
    line-height: 32px;
    padding-left: 13px;
    right: 27.4%;
    content: '\276f';
}
.agent-verify label{
  margin-left: 1%;
  font-weight: normal;
}
#agent_reg .agent_info .print_btn, #feedback_block .feedback_info .print_btn ,#feedback_block .feedback_info .save_btn{
    color: #fff;
    background-color: #f39e0d;
    border-color: #f39e0d;
    border-radius: 0;
}
.feedback_form input {
    width: 48%;
margin-right:2%;
}
.feedback_form input[type="radio"]{
	width:auto;
}
.feed-type label{
	width:auto;
	    margin-top: 4px;
}
.feed-type input[type="radio"] {
    margin: 5px;
}
.agent_content .text-left{
	width:100%;
	text-align:center;
}
div#datepicker input {
    width: 100%;
     background: #fff;
}

div#datepicker {
    width: 48%;
    float:left;
}
.input-group-addon{
	display:none;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
div#datepicker table td:first-child {
    width: 125px;
    display: flex;
background:#fff;

}
div#datepicker table td{
    background: #68ca68;
    padding:12px;
}

div#datepicker table tr:first-child td{
    background:#fff;
    height:61px;
}

/* Agent registration css end*/