<table class="bus_service">
  <thead>
    <tr>
      <th>Name</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Journey Date</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @bus_services.each do |bus_service| %>
      <tr>
        <td><%= bus_service.name %></td>
        <td><%= @cities[bus_service.origin] %></td>
        <td><%= @cities[bus_service.destination] %></td>
        <td><%= bus_service.journey_date %></td>
        <td><%= bus_service.status.to_i == 1 ? "Active" : "Cancelled" %></td>
      </tr>
    <% end %>
  </tbody>
</table>