<div class="widget-box">
				
	<div class="widget-title">
		<span class="icon">
			<i class="icon-bookmark"></i>
		</span>
		<h1>Google Calendar Mapping</h1>
	</div>

	<% if @services.present? %>

	<table class="table table-bordered fixed_headers">
		<thead>
		  <th>Service</th>
		  <th>Google Calendars</th>
		  <th>Action</th>
		  <th>Sync</th>
		</thead>
    <% @services.each {|service| %>
			<tr> 
        <td class ="center"><%= service[0]%></td>
        <td class ="center"><%= select :cms_blog, :comments_allowed, @calendar_array, {include_blank: "Select", selected: "#{@mappings_hash[service[1]]}"}, id: "#{service[1]}", class: "form-control" %></td>
        <td class ="center text-center"><input type="button" value="Save" onclick="saveRoomCalendarMapping('<%=service[1]%>', '<%=current_user.id%>')" class="btn btn-primary"></td>
        <td class ="center text-center">
        	<input type="button" value="Sync"  onclick="google_cal_sync('<%=@mappings_hash[service[1]]%>')" class ="btn btn-primary">
        	</td>

      </tr>
    <% } %>
	</table>

	<% end %>
</div>

<script type="text/javascript">
	function saveRoomCalendarMapping(serviceId, userId){
		var cal_id = $("#"+serviceId).val();
		$.ajax({
	    url: "/buses/save_bus_calendar_mapping",
	    data: {
	      service_id: serviceId,
	      cal_id: cal_id,
	      user_id: userId
	    },
	    type: 'post',
	    success: function(data){
	    	if(parseInt(data) == 1){
          alert("Mapping Done Successfully")
	    	}
	    	else{
          alert("Calendar already mapped with another room")
	    	}
	    }
	  });
	}
</script>

<script type="text/javascript">
	  function google_cal_sync(cal_id){
    $.ajax({
      url: "/bus_services/sync_calendar",
        data: {
          cal_id: cal_id,
        },
        success: function(data){
	    	if(parseInt(data) == 1){
          alert("Sync Done Successfully")
	    	}
	    	else{
          alert("something went wrong")
	    	}
	    	}
      });
  }
</script>