<div class="row">

	<div id="no_image_div" class="col-xs-12">

	  <%#= page_title("Google Calendar Mapping", "General Settings",AdminType::YES) %>

	  <div id="google_calendar_mapping">
	   
			<div class="widget-box">
				
				<div class="widget-title">
					<span class="icon">
						<i class="icon-bookmark"></i>
					</span>
					<h1 class="col-md-6">Google Calendars</h1>
					<div class="buttons col-md-6">
					  <%= link_to "Create New Calendar", 'javascript:void(0)', :onclick => "$('#create_new_calendar').show();", :class => "pull-right action btn btn-primary" %>
	  		  </div>
				</div>

				<div id="create_new_calendar" style="display:none;">

					<%= form_tag url_for(:controller => '/buses', :action => 'create_google_calendar'), class: "form-horizontal" do %>
						
						<div class='row margin-top-15'>
							<div class='padding5 col-sm-2 line_height25 text-right bold'>
								Calendar Name
							</div>
							<div class='padding5 col-sm-10 padding5'>
								<%= text_field :report, :name, :class=>"tip-right", title: 'Ex:AboutUs', 'data-toggle' => 'tooltip', 'data-placement' => 'right',:onkeypress=>"return handleEnterAndNumberAndAlphabet(this, event);", :style=>"width:40%;" %>
							</div>
						</div>
						
						<br/>

						<div class="center">
							<%= submit_tag "Save",:class=>"btn btn-primary" %>
							<%= link_to "Cancel", 'javascript:void(0)', :onclick => "$('#create_new_calendar').hide();", :class => "btn btn-danger" %>
						</div>

						<br/>

					<% end %>

				</div>

				<table class="table table-bordered fixed_headers">
					<thead>
					  <th>Name</th>
					  <th>Id</th>
					  <!-- <th>Sync</th> -->
					</thead>
					<% @calendar_array = [] %>

		      <% @calendar_list.each {|calendar| %>
		      <% @calendar_array << [calendar.summary, calendar.id] %>
						<tr> 
			        <td class ="center"><%= calendar.summary%></td>
			        <td class ="center"><%= calendar.id%></td>
			        <!-- <td class ="btn btn-primary btn-xs" align="center" onclick="google_cal_sync('<%=calendar.id%>')" >Sync</td> -->
			      </tr>
		      <% } %>
				</table>

			</div>

		</div>
			
	</div>
	
</div>

<script type="text/javascript">
	  function google_cal_sync(cal_id){
    $.ajax({
      url: "/bus_services/sync_calendar",
        data: {
          cal_id: cal_id,
        }
      });
  }
  alert("Calendar created successfully")
</script>