
<%= form_tag url_for(:controller => '/buses', :action => 'create_google_calendar'), class: "search-date" do %>
	  <div class="field">

     <label for="select_date">Select Date</label>
     <span id="datepicker" class="input-group date" data-date-format="dd/mm/yyyy">
    <input class="form-control" type="text" id="search_date" readonly />
    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
</span>
    <button type="button" class="btn btn-primary submit" onclick="searchService('<%=current_user.id%>')">Search</button>
  </div>
<% end %>

<div id="search_service_result"></div>

 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>

 <script type="text/javascript">
$(function () {
  $("#datepicker").datepicker({ 
        autoclose: true, 
        todayHighlight: true
  }).datepicker('update', new Date());

var data_value="<div class='field seed_parent col-md-12'><label for='select_date'></label><div class='col-md-3'><input class='form-control' type='text' placeholder='Name'></div><div class='col-md-3'><input class='form-control' type='text' placeholder='Email id'></div><div class='col-md-1'><input class='form-control' type='text' placeholder='age'></div><div class='col-md-3'><input class='form-control' type='text' placeholder='Mobile No'></div></div>"
  
  /*$(document).on('change', '.seed_val', function() {
  	$('.seed_parent').remove();
    seed_value = $(this).val();
    //alert(seed_value)
			for (var i = 0; i < seed_value; i++) {
				   $('.seed_count').append(data_value);
			}	 	
  });*/

$('.fuselage input').on('click',function() {
  if($(this).prop('checked') == true){

    	$('.seed_count').append(data_value);
	}else{

    	$('.seed_count .seed_parent:last-child').remove();
	}

});
 });

function searchService(user_id){
  searchDate = $("#search_date").val();
  $("#search_service_result").load("/buses/search_service_result?&date="+searchDate+"&user_id="+user_id)
}

 </script>
