<div><%= link_to "Room Types", "#{room_types_path}" %></div>
<div><%= link_to "Room Numbers", "#{room_numbers_path}" %></div>
<div><%= link_to "Google Calendars", "#{hotels_google_calendar_path}" %></div>
<div><%= link_to "Room Calendar Mapping", "#{room_numbers_path}" %></div>



<section id="feedback_block">
    <div class="container">
        
        <div class="row feedback_info">
            <div class="agent_content">
                <h2 class="text-center">Hotel</h2>
                <p>Whether you are looking for information or trying to provide feedback, we look forward to hearing from you! We value your suggestions.That helps us to improve travels experience.</p>

                <div class="col-md-12 no-padding">
                   
                    <div class="feedback_form">
                        <form id="feedback-form">
                        
                         

                        <div class="form-group">    
                            <label for="exampleInputContactNumber">Mobile No</label>
                            <input type="text" 	class="form-control" placeholder="">
                            <button type="button" class="btn btn-default save_btn"> Save</button>
                        </div>

                         <div class="form-group">    
                            <label for="exampleInputContactNumber">Types </label>
                         	<div class="feed-type">
                            <input type="radio" name="phone" value="Bus"> 
														<label>Bus</label>
				 									 <input type="radio" name="phone" value="Hotel"> <label> Hotel</label>
			 										</div>
                          </div>
                          <div class="form-group">    
                            <label for="exampleInputYourName">Feedback Type</label>
                            <div class="feed_type_box">
                                <select name="feedback[feedback_type]" class="form-control">
                                    <option>Map</option>
                                    <option>Sync</option>
                                </select>
                            </div>
                        </div>

                        	<div class="form-group">    
                           <!--  <label for="exampleInputContactNumber">Select Date</label> -->
                           <!-- <div id="datepicker" class="input-group date" data-date-format="mm-dd-yyyy">
									    				<input class="form-control" type="text" readonly />
									    			<span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
												</div> -->
												<div id="datepicker">
														<table>
  			<tr>
    <td>Room Types</td>
    <td>1 Sat</td>
    <td>2 Sun</td>
    <td>3 Sun</td>
    <td>4 Sun</td>
    <td>5 Sun</td>
    <td>6 Sun</td>
    <td>7 Sun</td>
    <td>8 Sat</td>
    <td>9 Sun</td>
    <td>10 Sun</td>
    <td>11 Sun</td>
    <td>12 Sun</td>
    <td>13 Sun</td>
    <td>14 Sun</td>
    <td>15 Sat</td>
    <td>16 Sun</td>
    <td>17 Sun</td>
    <td>18 Sun</td>
    <td>19 Sun</td>
    <td>20 Sun</td>
    
  </tr>
  <tr>
    <td>Suite Ac Room</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
  <tr>
    <td>DLX103</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
  <tr>
    <td>Suite  Room</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    
  </tr>
  <tr>
    <td>Deluxe Room</td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td> </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  
  </tr>
  
</table>
												</div>
                        </div>

                        </div>

                        

                        
                          
                        
                        <div class="text-left">

                            <button type="button" class="btn btn-default print_btn"> Submit</button>
                        </div>
                        
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
</section>

