<% if !(flash[:notice].blank? && flash[:error].blank? && flash[:user_notify].blank? && flash[:iphone_error].blank?) %>
	<!-- <center> -->
		<div id="flashes" class="hidden-print">
			<% if !flash[:error].blank? %>
				<div id="flash-errors" class="alert alert-danger col-sm-8 col-sm-offset-2 center" style="text-align: left;">
								  <%= flash[:error] %>
							<a href="#" onclick="$('#errors_flash').hide();return false;"><span class="hide_for_print"> <%#= image_tag "delete_error.png" ,:border =>"0",:style=>"border: 0px none; float: right; margin: 1px 1px 0px 0px; right: 10px; position: absolute;" %></span></a> 			
				</div>
			<% elsif !flash[:notice].blank? %>
				<div id="flash-notice" class="alert alert-success col-sm-8 col-sm-offset-2">
					<%= flash[:notice] %>
					<a href="#" onclick="$('#errors_flash').hide();return false;" style="float:right; margin: 1px 1px 0px 0px; border:0px;" ><span class="hide_for_print"> <%#= image_tag "delete_error.png" ,:border =>"0",:style=>"padding-top:8px; padding-right:4px;" %></span></a> 			
				</div>
			<% end %>


			<% if !flash[:iphone_error].blank? %>
				<div id="flash-errors" class="alert alert-danger col-sm-8 col-sm-offset-2">
					<%= flash[:iphone_error] %>
				</div>
			<% end %>
	
			<% if !flash[:user_notify].blank?%>
				<% if false %><%#= link_to image_tag "active_scaffold/default/close_error.png", {:action => "close_flash", :controller => "account"}, :remote =>true%>
				<% end %>

				<div id="flash-notice" class="alert alert-success col-sm-8 col-sm-offset-2">
					<%= flash[:user_notify]%>
					<%#= image_tag "delete_error.png" ,:border =>"0",:style=>"padding-top:8px; padding-right:4px;" %></a>
				</div>
			<%end%>
		</div>
		<!-- flashes -->
	
	</center>

	<script>
		scroll(0, 0);
		$('#errors_flash').show();
		// $('#report-error-div').show();
	</script>
		
    <% if flash[:user_notify].blank? and flash[:iphone_error].blank? %>
		  <script>
			setTimeout('$("#errors_flash").hide();', 9000); 
			$("#error_msg").html("")
			$("#errors_div").hide()
		  </script>
	<% end %>
	 
    <% 
      @has_errors = true
      flash[:error] = nil
      flash[:notice] = nil
      #flash[:info] = nil
      flash[:user_notify]= nil
      flash[:iphone_error] = nil
    %>
	
<% end %>